@import "variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: $colorBarras;
    a {
        text-decoration: none;
        color:$colorFuente;
        font-size: 25px;
        font-family: $familiaFuente;
        opacity: .35;
        &:hover{
            opacity: 1;
        }
    }
    
}
.noticias{
    background-color: $colorNoticias;
        p {
            color: map-get($estilos, Color );
            font-family: $familiaFuente;
            font-size: map-get($estilos , mediana );
            padding-left: 6px;
        }
}
.cuerpo{
    background-color: $colorCuerpo;
    p {
        font-size: map-get($estilos, grande );
        color: map-get($estilos, noticias );
        font-family: $familiaFuente;
    }
}
.pie{
    background-color: $colorBarras;
    p {
        font-family: $familiaFuente;
        font-size: map-get($estilos , mediana );
        color: map-get($estilos , color );
    }
    .propiedad {
        font-size: map-get($estilos , chica );
    }
}
